{%- from "helm/map.jinja" import config with context %}
{%- set kube_config = config.kubectl.config %}
{%- set cluster = kube_config.get("cluster", None) %}
{%- set cluster_name = kube_config.get("cluster_name", "thecluster") %}
{%- set user_name = kube_config.get("user_name", "theuser") %}
{%- set context_name = kube_config.get('context_name', "\"\"") %}
{%- set user = kube_config.get("user", None) %}
apiVersion: v1

{%- if cluster is not none %}
clusters: 
  - name: {{ cluster_name }}
    cluster: 
      {{ cluster | yaml(False) |indent(6) }}
{%- else %}
clusters: []
{%- endif %}

{%- if context_name and cluster %}
contexts: 
  - name: {{ context_name }}
    context: 
      cluster: {{ cluster_name }}
      {%- if user_name %}
      user: {{ user_name }}
      {%- endif %}
{%- else %}
contexts: []
{%- endif %}

current-context: {{ context_name }}
kind: Config
preferences: {}

{%- if user %}
users: 
  - name: {{ user_name }}
    user:
      {{ user | yaml(false) | indent(6) }}
{%- else %}
users: []
{%- endif %}